<!--- NAVBAR FOR PORTFOLIO -->
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <span><img src="{% static 'images/avatar.png' %}"></span>
    <span><a class="navbar-brand" href="https://www.linkedin.com/in/danny-van-geyte-6b13171a8/" target="_blank">&nbsp;Danny Van Geyte</a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/portfolio">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/portfolio/blog">Blog<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Todo<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>