{%  extends 'main/base.html' %}
{% load static %}
{% block content %}
	{% if request.user.is_staff %}
		<div class="container-fluid">
			<div class="d-flex justify-content-center" style="margin-top: 40px">
				<div class="row">
					{% for user in users %}
						{% if user.is_superuser %}
						<div>
							<div class="settings_box" style="margin-left: 10px;"><img src="{% static 'images/user.png' %}" alt="Card image"></div>
							<div class="text-center settings_box" style="margin-left: 10px">{{ user.username }} (admin)</div>
						</div>
						{% elif user.is_staff and not user.is_superuser %}
						<div>
							<div class="staffbox" style="margin-left: 10px; padding-right: 10px"><img src="{% static 'images/user.png' %}" alt="Card image"></div>
							<div class="text-center settings_box" style="margin-left: 10px">{{ user.username }} (staff)</div>
						</div>
						{% else %}
						<div>
							<div class="normalbox" style="margin-left: 10px"><img src="{% static 'images/user.png' %}" alt="Card image"></div>
							<div class="text-center" style="margin-left: 10px">{{ user.username }}</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% else %}
			<h3 class="card-title" id="title-font">You have no authorization to view this page!</h3>
			<span><a class="btn btn-sm btn-success" href="{% url 'home' %}">Back</a></span>
		{% endif %}
	</div>
</div>
{% endblock %}