body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	/* background: #7abecc !important; */
	background: #344039 !important;
}
 /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: black;
}
#text-audiowide {
	color: #40eb34;
	font-family: 'Audiowide';
	font-size:30px;	
}
#title-font {
	color: #aaa;
	font-family: 'Ewert';
	font-size:55px;
}
#title-font2 {
	color: #fff;
	font-family: 'Lobster';	
}
#title-font3 {
	color: #40eb34;
	font-family: 'Redressed';	
	font-size: 50px;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 

.settings_card {
	width: 90%;
	margin-top: 0px;
	margin-bottom: auto;
	background: #4e5752;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
}
.user_card {
	width: 60%;
	margin-top: 0px;
	margin-bottom: auto;
	background: #4e5752;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;
}

.last_added {
	color: green;
	font-style: italic;
}

.login_btn {
	width: 100%;
	background: #33ccff !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #f7ba5b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

#messages{
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}
#wrapper {
	margin-top: 2% !important;
}
#content {
	background: beige;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	color: green;
	font-style: oblique;
	text-decoration: line-through;
	
}
.todo-inprogress {
	color: white;
	font-style: italic;
	text-decoration: underline;
	background: #8ca38e;
}
footer {
	margin-top: auto;
	margin-bottom: 100px;
	color: green;
}
.list-group-item {
	color: black;

}
.whattodotitle {
	color: white;
}
.copyright {
	color: white;
	font-style: italic;
}
.box {
  display: flex;
  color: green;
  flex-wrap: wrap;
  flex-direction: column;
  width: 800px;
  height: 400px;
  align-content: space-between;
}      
.userbox {
	margin-left: 10px; 
	margin-right: 10px;
}
.normalbox {
	background: grey; 
	color: white;
}
.staffbox {
	background: green; 
	color: white;
}
.settings_box {
	background: blue; 
	color: white;
