{%  extends 'main/base.html' %}
{% load static %}
{% block content %}
	<div class="container-fluid" id="wrapper">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="card-header text-center">
					<h3 class="card-title whattodotitle">Denka Tech Todo's</h3>
				</div>
				<div>
					<!-- Title of tool -->
					<div class="text-center">
						<h2 class="whattodotitle">What tasks do you want to do today?</h2>
					</div>

					<div class="card-body">
						<form class="whattodotitle" action="{% url 'add' %}" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<div class="input-group">
									{{ form }}
									<span class="input-group-btn">
										<button type="submit" class="btn btn-success" id="add-btn">ADD</button>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-lg-12 justify-content-center">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a href="{% url 'deletecomplete' %}"><button type="button" class="btn btn-warning">
										<i class="fas fa-trash-alt"></i> DELETE COMPLETED
									</button></a>
								</div>
								<div class="btn-group">
									<a href="{% url 'deleteall' %}"><button type="button" class="btn btn-warning">
										<i class="fas fa-trash"></i> DELETE ALL
									</button></a>
								</div>
							</div>
						</div>
					</div>
					<ul class="list-group t20">
						{% for todo in todos %}
							<!-- Check what status the todo is in -->
							{% if todo.status == "DN" %}
								<!-- Strikethrough -->
								<li class="list-group-item"><div class="todo-completed">{{ todo.task }}</div></li>
							{% elif todo.status == "IP" %}
								<!-- In progress -->
								<li class="list-group-item"><div class="todo-inprogress"><a class="btn btn-sm btn-success" href="{% url 'complete' todo.id %}">Done</a> {{ todo.task }}</div></li>
							{% elif todo.status == "OP" %}
								<!-- Open -->
								<li class="list-group-item"><div><a class="btn btn-sm btn-success" href="{% url 'complete' todo.id %}">Done</a>
									<a class="btn btn-sm btn-info" href="{% url 'inprogressTodo' todo.id %}">In Progress</a> {{ todo.task }}</div></li>
							{% endif %}									
									{% if todo.is_from_today %}
										{% if todo.is_afew_momentsago %}
											<div><small class="text-muted">Added a few moments ago...</small></div>
										{% else %}
											<div><small class="text-muted">Created today at {{ todo.date_created.time }}</small></div>
										{% endif %}
									{% else %}
										<div><small class="text-muted">Recorded on {{ todo.date_created }}</small></div>
									{% endif %}									
								</li>
							{% endfor %}
						</ul>
						<p class="card-text"><small class="text-muted">Most recent addition : </small>
							<small class="last_added">{{ lasttodo }}</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}